{% extends 'myapp/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
      <div class="content">
        <div class="info">
            <h2>Smart Parking -</h2>
            <h1>Поиск парковки в Telegram</h1>

        </div>
    </div>



    <footer class="footer">
        <div class="footer-content">
              <div class="media-icons">
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-telegram"></i></a>
    </div>
        </div>
    </footer>
{% endblock %}