{% extends 'myapp/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}

 <div class="form-container">
        <div class="form-box register">
            <h2>Регистрация</h2>
            <form>
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Логин" required>
                <input type="password" placeholder="Пароль" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
        <div class="form-box login">
            <h2>Вход</h2>
            <form>
                <input type="text" placeholder="Логин" required>
                <input type="password" placeholder="Пароль" required>
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>


    <footer class="footer">
    <div class="footer-content">
        <div class="media-icons">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
        </div>
    </div>
</footer>

        <style>
    .form-container {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Вместо absolute */
}

   .form-box {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 280px; /* Фиксируем минимальную высоту */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Выравнивание кнопки по низу */
}


    .register {
        background-color: #28BBCB;
    }

    .login {
        background-color: #420059;
    }

    .form-box h2 {
        color: white;
        margin-bottom: 15px;
    }

    .form-box input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 5px;
    }

    .form-box button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: white;
        color: black;
        cursor: pointer;
        font-size: 16px;
    }

    .footer {
    background-color: #28BBCB;
    padding: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 50px; /* Убедимся, что футер не накладывается */
}
    </style>

{% endblock %}